#map {
  min-width: 500px;
  width: 70%;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  margin-top: 100px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  margin: 0, auto;
  padding: 0;
  background: #D0D0C0;
}
#slider{
  /*width: 500px;*/
  width: 10%;
  height: 5%
}

.navigationBar {
  width: 100%;
  overflow: hidden;
  background: #111;
}

.navigationBar a{
float: left;
display: block;
color: #F2F2F2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navigationBar a:hover{
background-color: #DDDDDD;
color: black;
}

.bar{
  fill: steelblue;
}

.bar:hover{
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
